body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;

    --background-color: #00509d;
    --wall-color: #1982c4;
    --player-color: #ffca3a;
    --box-red: #ff595e;
    --box-green: #8ac926;
    --goal-color: #003f88;

    --grid-size: 5;
    
    background-color: var(--background-color);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    margin: 1%;
    padding: 1%;
    border-radius: 2%;
    background-color: var(--background-color);  
}

.row{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: calc(90% / var(--grid-size));
    padding: 0px;
    margin: 0px;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    height: 10%;
    width: 90%;
    color: var(--goal-color);
}

.cell{
    background-color: var(--background-color);
    border-radius: 5% /*calc(var(--grid-size) * 1.6%)*/ ;
    width: calc(90% / var(--grid-size));
    height: 90%;
    margin: calc(5% / var(--grid-size));
    z-index: 0;
}

.goal{
    background-color: var(--goal-color);
    width: calc(70% / var(--grid-size));
    height: 70%;
    margin: calc(15% / var(--grid-size));
    border-radius: 50%;
}

.player{
    background-color: var(--player-color);
    width: calc(90% / var(--grid-size));
    height: 90%;
    margin: calc(5% / var(--grid-size));
    border-radius: 5%;
    z-index: 1;
}

.box-red{
    background-color: var(--box-red);
    width: calc(90% / var(--grid-size));
    height: 90%;
    margin: calc(5% / var(--grid-size));
    border-radius: 5%;
    z-index: 1;
}

.box-green{
    background-color: var(--box-green);
    width: calc(90% / var(--grid-size));
    height: 90%;
    margin: calc(5% / var(--grid-size));
    border-radius: 5%;
    z-index: 1;
}

.wall{
    background-color: var(--wall-color);
}

@keyframes moveRight {
    from {transform: translateX(0%);}
    to {transform: translateX(calc(100% + (40% / var(--grid-size))));}
}

@keyframes moveLeft {
    from {transform: translateX(0%);}
    to {transform: translateX(calc(-100% - (40% / var(--grid-size))));}
}

@keyframes moveDown {
    from {transform: translateY(0%);}
    to {transform: translateY(calc(100% + (40% / var(--grid-size))));}
}

@keyframes moveUp {
    from {transform: translateY(0%);}
    to {transform: translateY(calc(-100% - (40% / var(--grid-size))));}
}

@keyframes moveRightDeny {
    from {transform: translateX(0%);}
    to {transform: translateX(calc((40% / var(--grid-size))));}
}

@keyframes moveLeftDeny {
    from {transform: translateX(0%);}
    to {transform: translateX(calc((-40% / var(--grid-size))));}
}

@keyframes moveDownDeny {
    from {transform: translateY(0%);}
    to {transform: translateY(calc((40% / var(--grid-size))));}
}

@keyframes moveUpDeny {
    from {transform: translateY(0%);}
    to {transform: translateY(calc((-40% / var(--grid-size))));}
}


